USE [master]
GO
/****** Object:  Database [FoodOrder]    Script Date: 29.05.2023 4:00:55 ******/
CREATE DATABASE [FoodOrder]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodOrder', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\FoodOrder.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FoodOrder_log', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\FoodOrder_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodOrder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodOrder]
GO
/****** Object:  Table [dbo].[Dishes]    Script Date: 29.05.2023 4:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dishes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Dishes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishesOfIngredients]    Script Date: 29.05.2023 4:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishesOfIngredients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Dishes] [int] NOT NULL,
	[id_ingridient] [int] NOT NULL,
	[weigth] [float] NULL,
 CONSTRAINT [PK_DishesOfIngredients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishesOfMenu]    Script Date: 29.05.2023 4:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishesOfMenu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Menu] [int] NOT NULL,
	[id_Dishes] [int] NOT NULL,
 CONSTRAINT [PK_DishesOfMenu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 29.05.2023 4:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 29.05.2023 4:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[id_Dish] [int] NOT NULL,
	[Prise] [money] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 29.05.2023 4:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[id_User] [int] NOT NULL,
 CONSTRAINT [PK_Organizations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrganizationsOfMenu]    Script Date: 29.05.2023 4:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationsOfMenu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Organization] [int] NOT NULL,
	[id_Menu] [int] NOT NULL,
 CONSTRAINT [PK_OrganizationsOfMenu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 29.05.2023 4:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[id_Unit] [int] NOT NULL,
	[Mass] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 29.05.2023 4:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29.05.2023 4:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dishes] ON 

INSERT [dbo].[Dishes] ([id], [Name]) VALUES (3, N'')
INSERT [dbo].[Dishes] ([id], [Name]) VALUES (4, N'болоболо')
INSERT [dbo].[Dishes] ([id], [Name]) VALUES (5, N'test1')
SET IDENTITY_INSERT [dbo].[Dishes] OFF
GO
SET IDENTITY_INSERT [dbo].[DishesOfIngredients] ON 

INSERT [dbo].[DishesOfIngredients] ([id], [id_Dishes], [id_ingridient], [weigth]) VALUES (1033, 1034, 7, 0.113)
INSERT [dbo].[DishesOfIngredients] ([id], [id_Dishes], [id_ingridient], [weigth]) VALUES (1034, 1034, 8, 0.005)
INSERT [dbo].[DishesOfIngredients] ([id], [id_Dishes], [id_ingridient], [weigth]) VALUES (1035, 1035, 9, 0.071)
SET IDENTITY_INSERT [dbo].[DishesOfIngredients] OFF
GO
SET IDENTITY_INSERT [dbo].[DishesOfMenu] ON 

INSERT [dbo].[DishesOfMenu] ([id], [id_Menu], [id_Dishes]) VALUES (1050, 1, 1034)
INSERT [dbo].[DishesOfMenu] ([id], [id_Menu], [id_Dishes]) VALUES (1051, 2, 1034)
INSERT [dbo].[DishesOfMenu] ([id], [id_Menu], [id_Dishes]) VALUES (1052, 1, 1035)
SET IDENTITY_INSERT [dbo].[DishesOfMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([id], [Name]) VALUES (1, N'Меню №1')
INSERT [dbo].[Menu] ([id], [Name]) VALUES (2, N'Меню №2')
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizations] ON 

INSERT [dbo].[Organizations] ([id], [Name], [id_User]) VALUES (1, N'Оц5', 1)
INSERT [dbo].[Organizations] ([id], [Name], [id_User]) VALUES (2, N'Оц1', 2)
SET IDENTITY_INSERT [dbo].[Organizations] OFF
GO
SET IDENTITY_INSERT [dbo].[OrganizationsOfMenu] ON 

INSERT [dbo].[OrganizationsOfMenu] ([id], [id_Organization], [id_Menu]) VALUES (1, 1, 1)
INSERT [dbo].[OrganizationsOfMenu] ([id], [id_Organization], [id_Menu]) VALUES (2, 2, 2)
INSERT [dbo].[OrganizationsOfMenu] ([id], [id_Organization], [id_Menu]) VALUES (3, 1, 2)
SET IDENTITY_INSERT [dbo].[OrganizationsOfMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [Name], [id_Unit], [Mass]) VALUES (7, N'Котлеты домашние замороженный полуфабрикат', 2, N'Кг')
INSERT [dbo].[Products] ([id], [Name], [id_Unit], [Mass]) VALUES (8, N'Масло растительное', 1, N'Кг')
INSERT [dbo].[Products] ([id], [Name], [id_Unit], [Mass]) VALUES (9, N'Ёжики замороженный полуфабрикат', 2, N'Кг')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([id], [Name]) VALUES (1, N'Брутто')
INSERT [dbo].[Units] ([id], [Name]) VALUES (2, N'Нетто')
SET IDENTITY_INSERT [dbo].[Units] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [Name], [Password]) VALUES (1, N'Test', N'123456')
INSERT [dbo].[Users] ([id], [Name], [Password]) VALUES (2, N'Test2', N'123456')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[DishesOfIngredients]  WITH CHECK ADD  CONSTRAINT [FK_DishesOfIngredients_Dishes] FOREIGN KEY([id_Dishes])
REFERENCES [dbo].[Dishes] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DishesOfIngredients] CHECK CONSTRAINT [FK_DishesOfIngredients_Dishes]
GO
ALTER TABLE [dbo].[DishesOfIngredients]  WITH CHECK ADD  CONSTRAINT [FK_DishesOfIngredients_Products] FOREIGN KEY([id_ingridient])
REFERENCES [dbo].[Products] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DishesOfIngredients] CHECK CONSTRAINT [FK_DishesOfIngredients_Products]
GO
ALTER TABLE [dbo].[DishesOfMenu]  WITH CHECK ADD  CONSTRAINT [FK_DishesOfMenu_Dishes] FOREIGN KEY([id_Dishes])
REFERENCES [dbo].[Dishes] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DishesOfMenu] CHECK CONSTRAINT [FK_DishesOfMenu_Dishes]
GO
ALTER TABLE [dbo].[DishesOfMenu]  WITH CHECK ADD  CONSTRAINT [FK_DishesOfMenu_Menu] FOREIGN KEY([id_Menu])
REFERENCES [dbo].[Menu] ([id])
GO
ALTER TABLE [dbo].[DishesOfMenu] CHECK CONSTRAINT [FK_DishesOfMenu_Menu]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Dishes] FOREIGN KEY([id_Dish])
REFERENCES [dbo].[Dishes] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Dishes]
GO
ALTER TABLE [dbo].[Organizations]  WITH CHECK ADD  CONSTRAINT [FK_Organizations_Users] FOREIGN KEY([id_User])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Organizations] CHECK CONSTRAINT [FK_Organizations_Users]
GO
ALTER TABLE [dbo].[OrganizationsOfMenu]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationsOfMenu_Menu] FOREIGN KEY([id_Menu])
REFERENCES [dbo].[Menu] ([id])
GO
ALTER TABLE [dbo].[OrganizationsOfMenu] CHECK CONSTRAINT [FK_OrganizationsOfMenu_Menu]
GO
ALTER TABLE [dbo].[OrganizationsOfMenu]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationsOfMenu_Organizations] FOREIGN KEY([id_Organization])
REFERENCES [dbo].[Organizations] ([id])
GO
ALTER TABLE [dbo].[OrganizationsOfMenu] CHECK CONSTRAINT [FK_OrganizationsOfMenu_Organizations]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Units] FOREIGN KEY([id_Unit])
REFERENCES [dbo].[Units] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Units]
GO
USE [master]
GO
